@mixin body-width {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 991px) {
    max-width: 75vw;
  }

  @media (max-width: 767px) {
    max-width: 90vw;
  }
}

@mixin dev-portal-width {
  margin: 0 100px;

  @media (max-width: 934px) {
    margin: 0 50px;
  }

  @media (max-width: 767px) {
    margin: 0 30px;
  }
}
