$desktop-paragraph: 20px;
$desktop-h3: 30px;
$desktop-h2: 38px;
$desktop-h1: 42px;

$laptop-paragraph: 20px;
$laptop-h3: 26px;
$laptop-h2: 32px;
$laptop-h1: 36px;

$mobile-paragraph: 18px;
$mobile-h3: 22px;
$mobile-h2: 26px;
$mobile-h1: 30px;
