$desktop-paragraph: 20px;
$desktop-h3: 30px;
$desktop-h2: 40px;
$desktop-h1: 40px;

$laptop-paragraph: 20px;
$laptop-h3: 26px;
$laptop-h2: 34px;
$laptop-h1: 34px;

$mobile-paragraph: 18px;
$mobile-h3: 22px;
$mobile-h2: 28px;
$mobile-h1: 28px;
