.Navigation__dropdownBlock {
  position: relative;
}

.DeveloperPortalNav__topNav {
  @media (min-width: 971px) {
    box-shadow: 0 8px 4px -4px $gray, -7px 5px 4px -4px $gray, 7px 5px 4px -4px $gray;
    margin-top: 8px;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 230px;
    background-color: $white;
    transform: translateY(-1em);
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: 3;
  }
}

.Navigation__dropdownBlock:focus .DeveloperPortalNav__topNav,
.Navigation__dropdownBlock:focus-within .DeveloperPortalNav__topNav,
.Navigation__dropdownBlock:hover .DeveloperPortalNav__topNav {
  @media (min-width: 971px) {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.5s;
  }
}

.DeveloperPortalNav__dropdownLinkBlock {
  padding: 24px 0;
}

.DeveloperPortalNav__topNav .DeveloperPortalNav__dropdownLinkBlock {
  padding: 0;
}

.DeveloperPortalNav__dropdownLink {
  padding: 17px 10px;
  color: $black;
  display: flex;
  justify-self: stretch;
  background-color: $white;
  transition: background-color 0.2s;
  border-bottom: $gray 1px solid;

  &:last-child {
    border-bottom: none;
  }

  @media (max-width: 970px) {
    width: 230px;
  }
}

.DeveloperPortalNav__dropdownLink:hover {
  background: $gray;
  color: $black;
  text-decoration: none;
}

.DeveloperPortalNav__sideNav {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 260px;
  background-color: $gray;
  flex-grow: 1;
  margin-bottom: -100px;

  @media (max-width: 970px) {
    max-width: 210px;
  }

  .DeveloperPortalNav__dropdownLink {
    background-color: $gray;
    padding-left: 24px;
    font-weight: bold;
    width: inherit;
  }

  .DeveloperPortalNav__dropdownLink:hover {
    background-color: $white;
  }
}

.DeveloperPortalNav__sideNavHeaderBlock {
  background-color: $black;
  color: $white;
  padding: 24px 0;
}

.DeveloperPortalNav__sideNavHeader {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
}

.DeveloperPortalNav__sideNavLogo {
  width: 45px;
  height: auto;
}

.DeveloperPortalNav__sideNavHeaderTitle {
  margin: 0;
  line-height: 1.2;
  padding-top: 10px;
}
