.DeveloperPortal__block {
  width: 100%;
  overflow-x: hidden;
}

.DeveloperPortal__header {
  @include body-width;
  padding-top: 24px;
}

.DeveloperPortal__headerLogo {
  height: 100%;

  @media (max-width: 971px) {
    width: 35px;
  }
}

.DeveloperPortal__headerText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.DeveloperPortal__headerText > * {
  flex: 28;
  padding: 0 25px;
}

.DeveloperPortal__headerTitle {
  padding-left: 0;

  @media (max-width: 971px) {
    flex: 100vw;
  }
}

.DeveloperPortal__headerCaption {
  border-left: 3px solid $green;
}

.DeveloperPortal__headerCaption--bold {
  border-left: 3px solid $green;
}

.DeveloperPortal__getStarted {
  @include body-width;
  padding: 50px 0 275px 0;
  background-color: $black;
}

.DeveloperPortal__quickLinks {
  @include body-width;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-top: -225px;

  @media (max-width: 991px) {
    max-width: 90vw;
  }

  @media (max-width: 700px) {
    max-width: 96vw;
  }
}

.DeveloperPortal__quickLinkCard {
  background-color: $white;
  margin: 12px 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  min-width: 200px;
  align-items: center;
  box-shadow: 0 6px 6px $gray;

  @media (max-width: 991px) {
    flex-basis: 45%;
    padding: 10px;
    max-width: 45vw;
    min-width: 0;
  }

  @media (max-width: 416px) {
    margin: 12px auto;
    max-width: 55vw;
    min-width: 45vw;
  }

  p {
    height: 200px;
    overflow: hidden;
    flex-grow: 1;
  }

  a {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: $black;
    border-radius: 50%;
    font-weight: normal;
    transition: font-weight 0.4s;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    text-decoration: none;
    font-weight: bold;
  }
}

.DeveloperPortal__quickLinkCard:last-child {
  margin-right: 0;
}

.DeveloperPortal__rules {
  @include body-width;
  box-shadow: 0 6px 6px $gray;

  @media (max-width: 991px) {
    max-width: 90vw;
  }

  @media (max-width: 700px) {
    max-width: 96vw;
  }
}

.DeveloperPortal__rulesContent {
  padding: 50px;
}

.DeveloperPortal__link {
  transition: font-weight 0.3s;
  display: flex;
  width: fit-content;
  font-size: $desktop-paragraph;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;

  @media (min-width: 992px) and (max-width: 1280px) {
    font-size: $laptop-paragraph;
    line-height: 33px;
  }

  @media (max-width: 991px) {
    font-size: $mobile-paragraph;
    line-height: 30px;
  }
}

.DeveloperPortal__link:hover {
  text-decoration: none;
  font-weight: 700;
}

.DeveloperPortal__linkTitle {
  color: $black;
  margin-right: 10px;
}

.DeveloperPortal__linkTitle--white {
  color: $white;
  margin-right: 10px;
}

.DeveloperPortal__reportingBlock {
  position: relative;
  z-index: 1;
}

.DeveloperPortal__reporting {
  @include body-width;
  position: relative;
  z-index: 1;
  color: $white;
  padding: 50px 0;
}

.DeveloperPortal__logoBars {
  display: flex;
  justify-content: space-between;
  min-width: 2200px;
  position: relative;
  margin: 50px 0 -50px 0;
}

.DeveloperPortal__slash {
  width: 50px;
  height: 250px;
  background: $green;
  position: relative;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(-20deg);
  z-index: 0;
}

#slash1,
#slash6,
#slash10,
#slash11,
#slash15,
#slash18,
#slash23,
#slash24 {
  z-index: 2;
}

.DeveloperPortal__blackBackground {
  background-color: $black;
  color: $white;
  padding: 0;
}

.DeveloperPortal__whiteBackground {
  background-color: $white;
  color: $black;
}
