.Navigation__dropdownBlock {
  position: relative;
}

.DeveloperPortalNav__topNav {
  @media (min-width: 971px) {
    box-shadow: 0 3px 3px -3px black;
    margin-top: 8px;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: $white;
    transform: translateY(-1em);
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: 3;
  }
}

.Navigation__dropdownBlock:focus .DeveloperPortalNav__topNav,
.Navigation__dropdownBlock:focus-within .DeveloperPortalNav__topNav,
.Navigation__dropdownBlock:hover .DeveloperPortalNav__topNav {
  @media (min-width: 971px) {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.5s;
  }
}

.DeveloperPortalNav__dropdownLink {
  padding: 10px 5px;
  color: $black;
  display: flex;
  justify-self: stretch;
  background-color: $white;
  transition: background-color 0.2s;
  border-bottom: $gray 1px solid;

  &:last-child {
    border-bottom: none;
  }

  @media (max-width: 970px) {
    width: 200px;
  }
}

.DeveloperPortalNav__dropdownLink:hover {
  background: $gray;
  color: $black;
  text-decoration: none;
}

