.ExampleClient__layout {
  display: flex;
  justify-content: space-around;
}

.ExampleClient__contentBlock {
  flex: 75;

  @media (max-width: 749px) {
    margin-top: 175px;
  }
}

.ExampleClient__content {
  @include dev-portal-width;
}
