.About__backgroundImg {
  background-image: url("../images/Hero_Road.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 767px) {
    background-attachment: scroll;
    height: 350px;
    width: 100%;
  }
}

.About__articleBlock {
  @include body-width;
  text-align: center;
  margin: -325px auto 0;
  background-color: $white;

  @media (max-width: 991px) {
    margin: -350px auto 0;
  }

  @media (max-width: 767px) {
    margin: -250px auto 0;
  }
}

.About__articleIcon {
  width: 72px;
  height: 72px;
  margin-top: -36px;

  @media (max-width: 991px) {
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }

  @media (max-width: 767px) {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
}

.About__article {
  padding: 0 32px;

  @media (max-width: 991px) {
    padding: 0 22px;
  }

  @media (max-width: 767px) {
    padding: 0 12px;
  }

  p,
  h1,
  h2 {
    text-align: left;
  }
}

.About__articleSubHeading {
  font-style: italic;
  text-align: left;
}

.About__articleAuthors {
  display: flex;
}

.About__articleAuthorsPerson {
  margin: 25px 10vw 0 0;
}

.About__articleLine {
  border: 1px solid $green;
}

.About__articleList {
  padding-inline-start: 60px;

  @media (max-width: 767px) {
    padding-inline-start: 30px;
  }
}
