.Footer__block {
  background-color: $black;
  padding: 20px 0;
  margin-top: 75px;
  text-align: center;
  color: $white;
  font-size: 14px;
  width: 100%;
  line-height: 1.5;
  z-index: 2;

  @media (max-width: 991px) {
    font-size: 12px;
    margin-top: 50px;
    padding: 18px 0 22px;
  }

  @media (max-width: 767px) {
    font-size: 10px;
    margin-top: 30px;
    padding: 0 0 24px 0;
    line-height: 2;
  }
}

.Footer__width > * {
  padding: 0 16px 0 32px;
}

.Footer__width {
  @include body-width;
  display: flex;
  margin: 0 auto;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  img {
    max-width: 250px;
    height: 100%;
    padding-left: 0;
    margin-left: -22px;
  }
}

.Footer__row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    border-left: $green 3px solid;
  }
}

.Footer__columnBlock {
  border-left: $green 3px solid;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  max-width: 620px;

  @media (max-width: 767px) {
    border-left: none;
  }
}

.Footer__column {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (max-width: 767px) {
    padding-left: 20px;
  }
}

.Footer__column--first {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.Footer__textLink {
  color: $white;

  &:hover {
    text-decoration: none !important;
  }
}

.Footer__outsideLink {
  display: flex;
}

.Footer__linkArrow {
  transform: rotate(-45deg);
  width: min-content;
  margin-left: 6px;
}

.Footer__outsideLinkCopy {
  background-color: $dark-gray;
  padding: 1px 6px;
  box-shadow: 0 2px 2px 2px rgba(54, 54, 54, 0.5);
  position: absolute;
}

.Footer__lastUpdated {
  font-weight: normal;
  margin-top: 16px;
}
