.Footer__block {
  background-color: $black;
  padding: 28px 0;
  margin-top: 100px;
  text-align: center;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  width: 100%;

  @media (max-width: 991px) {
    font-size: 12px;
    margin-top: 75px;
    padding: 20px 0;
  }

  @media (max-width: 767px) {
    font-size: 10px;
    margin-top: 50px;
    padding: 10px 0;
  }
}

.Footer__width > * {
  padding: 0 16px 0 32px;
}

.Footer__width {
  width: fit-content;
  display: flex;
  margin: 0 auto;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  img {
    max-width: 250px;
    height: fit-content;
  }
}

.Footer__column {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (max-width: 767px) {
    flex-direction: row;
  }
}

.Footer__column > * {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.Footer__column--first {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left: $green 3px solid;

  @media (max-width: 767px) {
    border-left: none;
  }
}

.Footer__textLink {
  color: $white;
}

.Footer__lastUpdated {
  font-weight: normal;
  margin-top: 16px;

  @media (max-width: 767px) {
    margin-top: 0;
  }
}
