.Header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.Header__logo {
  width: 275px;

  @media (max-width: 991px) {
    width: 230px;
  }

  @media (max-width: 767px) {
    padding-top: 18px;
    width: 200px;
  }
}
