.Header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding-right: 16px;
}

.Header__logo {
  width: 275px;
  height: auto;

  @media (max-width: 991px) {
    width: 230px;
  }

  @media (max-width: 767px) {
    width: 200px;
  }
}
