.Home__slider {
  @include body-width;
  text-align: center;
  height: 350px;
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    height: 310px;
  }

  @media (max-width: 767px) {
    height: 280px;
  }
}

.Home__blackBoxIcon {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 72px;
  height: 72px;
  z-index: 1;

  @media (max-width: 991px) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 767px) {
    width: 50px;
    height: 50px;
  }
}

.Home__blackBox {
  position: relative;
  top: -36px;
  height: 350px;
  background-color: $black;
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    top: -30px;
    height: 310px;
  }

  @media (max-width: 767px) {
    top: -25px;
    height: 280px;
  }
}

.Home__blackBoxText {
  @include body-width;
  color: $white;
}

.Home__bodyText {
  @include body-width;
}
