.LetsConnect__block {
  background-color: $black;
  padding-bottom: 20px;
  margin: -20px 0 20px 0;
}

.LetsConnect__title {
  text-align: center;
  font-weight: bold;
  color: $white;
  padding: 20px 0;
}

.LetsConnect__caption {
  margin: 0;
  text-align: center;
  color: $white;
}

.LetsConnect__form {
  position: relative;
  width: 50%;
  max-width: 700px;
  background-color: $white;
  padding: 16px;
  margin: 20px auto;

  @media (max-width: 991px) {
    width: 60%;
  }

  @media (max-width: 767px) {
    width: 80%;
  }
}
