body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Component {
  flex-grow: 1;
}

.Header__block,
.Component,
.Footer__block {
  flex-shrink: 0;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 32px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
  font-weight: bold;
  margin: 20px 0;
}
@media (min-width: 992px) and (max-width: 1280px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 16px;
}
@media (min-width: 1001px) and (max-width: 1280px) {
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1000px) {
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  p {
    font-size: 20px;
    line-height: 33px;
  }
}
@media (max-width: 991px) {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

li {
  font-size: 20px;
  line-height: 36px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  li {
    font-size: 20px;
    line-height: 33px;
  }
}
@media (max-width: 991px) {
  li {
    font-size: 18px;
    line-height: 30px;
  }
}

a {
  color: #26e990;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #26e990;
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
}

[data-aos=slide-up] {
  transform: translate(0, 15px);
  opacity: 0;
  transition-property: transform;
}
[data-aos=slide-up].aos-animate {
  transform: translate(0, -15px);
  opacity: 1;
}

.Header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding-right: 16px;
}

.Header__logo {
  width: 275px;
  height: auto;
}
@media (max-width: 991px) {
  .Header__logo {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .Header__logo {
    width: 200px;
  }
}

.Footer__block {
  background-color: #000;
  padding: 28px 0;
  margin-top: 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  width: 100%;
}
@media (max-width: 991px) {
  .Footer__block {
    font-size: 12px;
    margin-top: 75px;
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .Footer__block {
    font-size: 10px;
    margin-top: 50px;
    padding: 10px 0;
  }
}

.Footer__width > * {
  padding: 0 16px 0 32px;
}

.Footer__width {
  width: fit-content;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .Footer__width {
    flex-direction: column;
  }
}
.Footer__width img {
  max-width: 250px;
  height: fit-content;
}

.Footer__column {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (max-width: 767px) {
  .Footer__column {
    flex-direction: row;
  }
}

.Footer__column > * {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.Footer__column--first {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left: #26e990 3px solid;
}
@media (max-width: 767px) {
  .Footer__column--first {
    border-left: none;
  }
}

.Footer__textLink {
  color: #fff;
}

.Footer__lastUpdated {
  font-weight: normal;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .Footer__lastUpdated {
    margin-top: 0;
  }
}

.Navigation__block {
  display: flex;
  margin-right: 12px;
}
@media (max-width: 970px) {
  .Navigation__block {
    margin-top: 52px;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.Navigation__link {
  color: #000;
}
@media (max-width: 970px) {
  .Navigation__link {
    line-height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    padding-right: 16px;
  }
}

.Navigation__divider {
  color: #26e990;
  margin: 0 12px;
  font-weight: bold;
  display: block;
}
@media (max-width: 970px) {
  .Navigation__divider {
    display: none;
  }
}

.Navigation__burger {
  display: block;
}
.Navigation__burger:hover {
  cursor: pointer;
}
@media (min-width: 971px) {
  .Navigation__burger {
    display: none;
  }
}

.Navigation__burger--bar1,
.Navigation__burger--bar2,
.Navigation__burger--bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #000;
  transition: 0.4s;
}
@media (max-width: 767px) {
  .Navigation__burger--bar1,
.Navigation__burger--bar2,
.Navigation__burger--bar3 {
    width: 25px;
    height: 3px;
  }
}

.Navigation__exitIcon .Navigation__burger--bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
@media (max-width: 767px) {
  .Navigation__exitIcon .Navigation__burger--bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
  }
}

.Navigation__exitIcon .Navigation__burger--bar2 {
  opacity: 0;
}

.Navigation__exitIcon .Navigation__burger--bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (max-width: 767px) {
  .Navigation__exitIcon .Navigation__burger--bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px);
  }
}

.Navigation__dropdownBlock {
  position: relative;
}

.Navigation__dropdown {
  display: none;
}
@media (min-width: 971px) {
  .Navigation__dropdown {
    margin-top: 8px;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    transform: translateY(-1em);
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: 3;
  }
}

.Navigation__dropdownLink {
  padding: 10px 5px;
  color: #000;
  width: 100%;
  display: flex;
  justify-self: stretch;
  height: 100%;
  transform: translateY(-1em);
  transition: transform 0.5s ease-in-out, top 1s ease;
}

.Navigation__dropdownLink:hover {
  background: #d4d4d4;
  color: #000;
  text-decoration: none;
}

.Navigation__dropdownBlock:active .Navigation__dropdown {
  display: block;
}

.Navigation__dropdownBlock:focus .Navigation__dropdown,
.Navigation__dropdownBlock:focus-within .Navigation__dropdown,
.Navigation__dropdownBlock:hover .Navigation__dropdown {
  display: block;
}
@media (min-width: 971px) {
  .Navigation__dropdownBlock:focus .Navigation__dropdown,
.Navigation__dropdownBlock:focus-within .Navigation__dropdown,
.Navigation__dropdownBlock:hover .Navigation__dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.5s;
  }
}

.Home__slider {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 350px;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .Home__slider {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Home__slider {
    max-width: 90vw;
  }
}
@media (max-width: 991px) {
  .Home__slider {
    height: 310px;
  }
}
@media (max-width: 767px) {
  .Home__slider {
    height: 280px;
  }
}

.Home__blackBoxIcon {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 72px;
  height: 72px;
  z-index: 1;
}
@media (max-width: 991px) {
  .Home__blackBoxIcon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .Home__blackBoxIcon {
    width: 50px;
    height: 50px;
  }
}

.Home__blackBox {
  position: relative;
  top: -36px;
  height: 350px;
  background-color: #000;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 991px) {
  .Home__blackBox {
    top: -30px;
    height: 310px;
  }
}
@media (max-width: 767px) {
  .Home__blackBox {
    top: -25px;
    height: 280px;
  }
}

.Home__blackBoxText {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
@media (max-width: 991px) {
  .Home__blackBoxText {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Home__blackBoxText {
    max-width: 90vw;
  }
}

.Home__bodyText {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .Home__bodyText {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Home__bodyText {
    max-width: 90vw;
  }
}

.About__backgroundImg {
  background-image: url("../images/Hero_Road.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .About__backgroundImg {
    background-attachment: scroll;
    height: 350px;
    width: 100%;
  }
}

.About__articleBlock {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: -325px auto 0;
  background-color: #fff;
}
@media (max-width: 991px) {
  .About__articleBlock {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .About__articleBlock {
    max-width: 90vw;
  }
}
@media (max-width: 991px) {
  .About__articleBlock {
    margin: -350px auto 0;
  }
}
@media (max-width: 767px) {
  .About__articleBlock {
    margin: -250px auto 0;
  }
}

.About__articleIcon {
  width: 72px;
  height: 72px;
  margin-top: -36px;
}
@media (max-width: 991px) {
  .About__articleIcon {
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }
}
@media (max-width: 767px) {
  .About__articleIcon {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
}

.About__article {
  padding: 0 32px;
}
@media (max-width: 991px) {
  .About__article {
    padding: 0 22px;
  }
}
@media (max-width: 767px) {
  .About__article {
    padding: 0 12px;
  }
}
.About__article p,
.About__article h1,
.About__article h2 {
  text-align: left;
}

.About__articleSubHeading {
  font-style: italic;
  text-align: left;
}

.About__articleAuthors {
  display: flex;
}

.About__articleAuthorsPerson {
  margin: 25px 10vw 0 0;
}

.About__articleLine {
  border: 1px solid #26e990;
}

.About__articleList {
  padding-inline-start: 60px;
}
@media (max-width: 767px) {
  .About__articleList {
    padding-inline-start: 30px;
  }
}

.DeveloperPortal__block {
  width: 100%;
  overflow-x: hidden;
}

.DeveloperPortal__header {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
}
@media (max-width: 991px) {
  .DeveloperPortal__header {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .DeveloperPortal__header {
    max-width: 90vw;
  }
}

.DeveloperPortal__headerText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.DeveloperPortal__headerText > * {
  flex: 28;
  padding: 0 25px;
}

.DeveloperPortal__headerTitle {
  padding-left: 0;
}

.DeveloperPortal__headerCaption {
  border-left: 3px solid #26e990;
}

.DeveloperPortal__headerCaption--bold {
  border-left: 3px solid #26e990;
}

.DeveloperPortal__getStarted {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .DeveloperPortal__getStarted {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .DeveloperPortal__getStarted {
    max-width: 90vw;
  }
}

.DeveloperPortal__quickLinks {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 991px) {
  .DeveloperPortal__quickLinks {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .DeveloperPortal__quickLinks {
    max-width: 90vw;
  }
}

.DeveloperPortal__quickLinkCard {
  background-color: #fff;
  margin: -100px 20px 0 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 25;
  align-items: center;
  box-shadow: 0 6px 6px #d4d4d4;
}
.DeveloperPortal__quickLinkCard p {
  height: 200px;
  overflow: hidden;
  flex-grow: 1;
}
.DeveloperPortal__quickLinkCard a {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 50%;
  font-weight: normal;
  transition: font-weight 0.4s;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DeveloperPortal__quickLinkCard a:hover {
  text-decoration: none;
  font-weight: bold;
}

.DeveloperPortal__quickLinkCard:last-child {
  margin-right: 0;
}

.DeveloperPortal__rules {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
  box-shadow: 0 6px 6px #d4d4d4;
}
@media (max-width: 991px) {
  .DeveloperPortal__rules {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .DeveloperPortal__rules {
    max-width: 90vw;
  }
}

.DeveloperPortal__rulesContent {
  padding: 16px;
}

.DeveloperPortal__link {
  font-weight: 600;
  transition: font-weight 0.3s;
  display: flex;
  width: fit-content;
}

.DeveloperPortal__link:hover {
  text-decoration: none;
  font-weight: 700;
}

.DeveloperPortal__linkTitle {
  color: #000;
  margin-right: 10px;
}

.DeveloperPortal__linkTitle--white {
  color: #fff;
  margin-right: 10px;
}

.DeveloperPortal__reporting {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: #fff;
}
@media (max-width: 991px) {
  .DeveloperPortal__reporting {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .DeveloperPortal__reporting {
    max-width: 90vw;
  }
}

.DeveloperPortal__logoBars {
  background-image: url("../../images/LogoBars.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.DeveloperPortal__blackBackground {
  background-color: #000;
  color: #fff;
  padding: 32px 0;
}

.DeveloperPortal__whiteBackground {
  background-color: #fff;
  color: #000;
}

.Page1__layout {
  display: flex;
  justify-content: space-around;
}

.Page1__body {
  flex: 75;
  padding: 0 16px;
}

.DeveloperPortalNav__block {
  background-color: #d4d4d4;
  flex: 25;
}

.DeveloperPortalNav__list {
  list-style-type: none;
}

.LetsConnect__block {
  background-color: #000;
  padding-bottom: 20px;
}

.LetsConnect__title {
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}

.LetsConnect__caption {
  margin: 0;
  text-align: center;
  color: #fff;
}

.LetsConnect__form {
  position: relative;
  width: 50%;
  max-width: 700px;
  background-color: #fff;
  padding: 16px;
  margin: 20px auto;
}
@media (max-width: 991px) {
  .LetsConnect__form {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .LetsConnect__form {
    width: 80%;
  }
}

.CodeOfConduct__block {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .CodeOfConduct__block {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .CodeOfConduct__block {
    max-width: 90vw;
  }
}

.PrivacyPolicy__block {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .PrivacyPolicy__block {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .PrivacyPolicy__block {
    max-width: 90vw;
  }
}

/*# sourceMappingURL=App.css.map */
