.Header__logoBlock {
  display: flex;
  justify-content: center;
}

.Header__logo {
  padding-top: 28px;
  width: 275px;
}
@media (max-width: 991px) {
  .Header__logo {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .Header__logo {
    padding-top: 18px;
    width: 200px;
  }
}

.Footer__block {
  background-color: #000;
  padding: 28px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 25px;
}

.Footer__textLink {
  color: #fff;
}
.Footer__textLink:hover {
  color: #26e990;
}

.Footer__textSeparator {
  font-size: 22px;
  margin: 0 5px;
}

.Home__slider {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 350px;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .Home__slider {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Home__slider {
    max-width: 90vw;
  }
}
@media (max-width: 991px) {
  .Home__slider {
    height: 310px;
  }
}
@media (max-width: 767px) {
  .Home__slider {
    height: 280px;
  }
}

.Home__blackBoxIcon {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 72px;
  height: 72px;
  z-index: 1;
}
@media (max-width: 991px) {
  .Home__blackBoxIcon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .Home__blackBoxIcon {
    width: 50px;
    height: 50px;
  }
}

.Home__blackBox {
  position: relative;
  top: -36px;
  height: 350px;
  background-color: #000;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .Home__blackBox {
    top: -30px;
    height: 310px;
  }
}
@media (max-width: 767px) {
  .Home__blackBox {
    top: -25px;
    height: 280px;
  }
}

.Home__blackBoxText {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
@media (max-width: 991px) {
  .Home__blackBoxText {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Home__blackBoxText {
    max-width: 90vw;
  }
}

.Home__bodyText {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .Home__bodyText {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Home__bodyText {
    max-width: 90vw;
  }
}

.About__backgroundImg {
  background-image: url("../images/Hero_Road.jpg");
  height: 500px;
  width: 100%;
  margin-top: 28px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .About__backgroundImg {
    background-attachment: scroll;
    height: 350px;
    width: 100%;
    margin-top: 18px;
  }
}

.About__articleIcon {
  margin: -145px auto 0 auto;
  width: 72px;
  height: 72px;
}
@media (max-width: 991px) {
  .About__articleIcon {
    width: 60px;
    height: 60px;
    margin: -115px auto 0 auto;
  }
}
@media (max-width: 767px) {
  .About__articleIcon {
    width: 50px;
    height: 50px;
    margin: -85px auto 0 auto;
  }
}

.About__article {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: -325px auto 0;
  background-color: #fff;
  padding: 60px 32px 0 32px;
}
@media (max-width: 991px) {
  .About__article {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .About__article {
    max-width: 90vw;
  }
}
@media (max-width: 991px) {
  .About__article {
    margin: -350px auto 0;
    padding: 45px 22px 0 22px;
  }
}
@media (max-width: 767px) {
  .About__article {
    margin: -250px auto 0;
    padding: 30px 12px 0 12px;
  }
}
.About__article p,
.About__article h1,
.About__article h2 {
  text-align: left;
}

.About__articleSubHeading {
  font-style: italic;
}

.About__articleAuthors {
  display: flex;
}

.About__articleAuthorsPerson {
  margin: 25px 10vw 0 0;
}

.About__articleLine {
  border: 1px solid #26e990;
}

.About__articleInterjection {
  text-align: center;
}

.About__articleList {
  padding-inline-start: 60px;
}
@media (max-width: 767px) {
  .About__articleList {
    padding-inline-start: 30px;
  }
}

.LetsConnect__block {
  background-color: #000;
  padding-bottom: 20px;
  margin: 20px 0;
}

.LetsConnect__title {
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 20px 0;
}

.LetsConnect__caption {
  margin: 0;
  text-align: center;
  color: #fff;
}

.LetsConnect__link {
  color: #26e990;
}
.LetsConnect__link:hover {
  color: #26e990;
}

.LetsConnect__form {
  position: relative;
  width: 50%;
  max-width: 700px;
  background-color: #fff;
  padding: 16px;
  margin: 20px auto;
}
@media (max-width: 991px) {
  .LetsConnect__form {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .LetsConnect__form {
    width: 80%;
  }
}

.CodeOfConduct__block {
  margin: 0 auto;
  padding-top: 30px;
}

/*# sourceMappingURL=App.css.map */
